<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Collection_tuple_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*# Collection Tuple Set's*

22-12-2025
#***8days left to khtm the duniya ;)***

In [ ]:
#What is tuple and how can we declare A Tuple
""" Tuple Are Declared In (),
    Tuple Is defind As Ordered, Immutable, And Allow the duplicates DAta
    """

*Tuple Allow's the duplicates data*

In [ ]:
t1 = ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
print(len(t1))
print(t1)
print(type(t1))

8
('Rixz', 'Rox', 'Rix', 'Rizz', 'Rixz', 'Rox', 'Rix', 'Rizz')
<class 'tuple'>

***Tuple Is Ordered :-*** The item is the tuple has the sequence of index position number's.

In [ ]:
t1 = ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
#  This is a homogenus data coz all item all string same data type
print(t1[3:])

('Rizz', 'Rixz', 'Rox', 'Rix', 'Rizz')

In [ ]:
#printing even index position is tuple
tx = ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
print(tx[::2])

('Rixz', 'Rix', 'Rixz', 'Rix')

In [ ]:
#printing Odd index position is tuple
tx = ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
print(tx[1:: 2])

('Rox', 'Rizz', 'Rox', 'Rizz')

In [ ]:
# Default indexing reverse the string
tx = ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
print(tx[::-1])

('Rizz', 'Rix', 'Rox', 'Rixz', 'Rizz', 'Rix', 'Rox', 'Rixz')

***Tuple Is Imutable:-*** We Can't Remove, Add, Replace the items from the tuple I

**Mutable**:-    Changeble >--- Replace, Add , Remove

**Array**:-      We Can Replace, But Can't Add Item and Remove the item's >-- Immutable

In [ ]:
Candy = "Candy"
print(dir(Candy))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
t9= ("Rixz", "Rox", "Rix", "Rizz","Rixz", "Rox", "Rix", "Rizz")
print(t9.count ("Rox"))

2

In [ ]:
#1. account no  --> tuple
#2. pan         --> tuple
#3. aadhar      --> tuple
#4. address     --> list
#5. phone       --> list
#6. email       --> list
# We use tuples and lists according to the need of the data type.

In [ ]:
li = [1,2,3,4,5]
li.append(6)
print(li)
  # A Tuple Dont Have A Append MEthod

[1, 2, 3, 4, 5, 6]

In [ ]:
# Now add something in a tuple
# We can't add anything directly to a tuple because tuples are immutable
# First, we need to convert the tuple into a list

l2 = (1, 2, 3, 4, 5)
l3 = list(l2)

print(l3)          # Before adding
l3.append(44)
print(l3)          # After adding

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 44]

***Set's*** :-


*   *What are set's and how can we declare a set*
*   *The set's are declare in curly braces {}*
*   Set's are defind as unordered, immutable, and allow's the duplicates value's.

In [ ]:
#Set Allow's The Dupliacte's Data.

s = {1,2,3,4,5,6,7,7}
print(s)
# it does'nt allow the duplucates data only give one time.output for same item.

print(len(s))
# it's Also count values once if duplicates availble it dont count twice.

print(s[0])

# set's are unordered so we can't acces the values by indexing.

{1, 2, 3, 4, 5, 6, 7}
7

TypeError: 'set' object is not subscriptable

In [ ]:
# Set's Are Immutable :- In Set's We cant replace swap but we can  add or remove the item's
s = {1,2,3,4,5,6,7,7}
print(dir(s))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getstate__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

***Adding the elements in the set's***

In [ ]:
# Using the Add() Method
s = {"Rixz", "Rixx", "Rexx"}
s.add("Roxx")
print(s)

{'Rexx', 'Rixz', 'Rixx', 'Roxx'}

In [ ]:
# Using Update() Method
# This is used to add item's from another collection's

ex = {1,2,3,4}
ex.update(s)
print(ex)

{1, 2, 3, 4, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}

***Remove the ITem's From The Set's***

In [ ]:
# Using POP()

Ex1 = {1, 2, 3, 4, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}
Ex1.pop()
print(Ex1)
# Set's Are Unordered so dont use pop() primarily

{2, 3, 4, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}

In [ ]:
# Using remove()
# It's Take the item NAme to Remove
Ex1 = {1, 2, 3, 4, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}
Ex1.remove(4)
print(Ex1)

{1, 2, 3, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}

In [ ]:
# Using Discard()
# It Also TAke the ITem_name

Rx = {1, 2, 3, 'Rixz', 'Rixx', 'Roxx', 'Rexx'}
Rx.discard("Rexx")
print(Rx)

{1, 2, 3, 'Rixz', 'Rixx', 'Roxx'}

***What Are The Diffrence Between Remove And Discard?***

In [ ]:
Rx.remove("deathByChocolate")
print(Rx)
# IF the item doesn't exist its throught the error

KeyError: 'deathByChocolate'

In [ ]:
Rx.discard("deathByChocolate")
print(Rx)
# If the item present do the querry if not go to the next querry

{1, 2, 3, 'Rixz', 'Rixx', 'Roxx'}

In [ ]:
#Using Clear()
Rx.clear()
print(Rx)

set()

In [ ]:
# Using Del To Delete Entire Existence of a set.
del Rx
print(Rx)

NameError: name 'Rx' is not defined

In [ ]:


l = [1,2,3,4,4,5]
s = {6,7}
s.update(l)
print(s)

{1, 2, 3, 4, 5, 6, 7}