<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Dictionary***

In [ ]:
#what is dictionary and how can we declare a dictionary?
#Dict - {}
# dictionary is a unordered, mutable, wont allow the duplicates.
# Data are stored in dictionary into a key : Value pair.

***Dictionary Won't Allow The Duplicates***

In [8]:
d1 = {
    "Name": "Rixz",
    "Course":"Ds Da Data Science",
    "Duration": "4 Months",
    "Duration": "4-6 Months",
}
print(d1)
print(len(d1))
print(type(d1))

{'Name': 'Rixz', 'Course': 'Ds Da Data Science', 'Duration': '4-6 Months'}
3
<class 'dict'>

***Dictionary Is Unordered***

In [9]:
d2 = {
    "Name": "Rixz",
    "Course":"Ds Da Data Science",
    "Duration": "4 Months",
    "Duration": "4-6 Months",
}
print(d2[0])

KeyError: 0

In [11]:
print(d2["Duration"])
print(d2["Name"])

4-6 Months
Rixz

In [26]:
d1 = {
    "Name": "Rixz",
    "Course": "Ds Da Data Science",
    "Skills": ["Python", "Bi", "Excel"],
    "Duration": "4-6 Months"
}

print(d1["Skills"])
#q| Access "Bi" From Above Dictionary

print(d1["Skills"][1])

['Python', 'Bi', 'Excel']
Bi

***Dictinary Is Mutable***

In [ ]:
"""-> we can replace the data in dict

-> we can add new data in dict

-> we can remove the data in dict """

In [32]:
#Replace the values from the dictionary

d1 = {
    "Name": "Rixz",
    "Course":"Ds Da Data Science",
    "Skills": ["Python", "Bi", "Excel"],
    "Duration": "4-6 Months"
}
#Replace the course:-
d1["Course"] = ["Web Dev"]
d1["Course"]
print(d1)

{'Name': 'Rixz', 'Course': ['Web Dev'], 'Skills': ['Python', 'Bi', 'Excel'], 'Duration': '4-6 Months'}

In [36]:
# Adding New KEy value PAir
d1["Address"]=  "Jaganpur"
print(d1)
#if the key exist the values got replaced
#if key not exist the key get added.

{'Name': 'Rixz', 'Course': ['Web Dev'], 'Skills': ['Python', 'Bi', 'Excel'], 'Duration': '4-6 Months', 'Address': 'Jaganpur'}

In [53]:
# Remove the item from the dictionary
d1 = {
    "Name": "Rixz",
    "Course":"Ds Da Data Science",
    "Skills": ["Python", "Bi", "Excel"],
    "Duration": "4-6 Months"
}
#Using POp()
d1.pop("Duration")
print(d1)

{'Name': 'Rixz', 'Course': 'Ds Da Data Science', 'Skills': ['Python', 'Bi', 'Excel']}

In [56]:
# Remove the Bi FRom the Dictionary
# d1.pop("Skills")[0]
print(d1)

{'Name': 'Rixz', 'Course': 'Ds Da Data Science'}

In [59]:
#popitem()
d1.popitem()
print(d1)

{}

In [63]:
d = {
    'Name': 'Medha',
    'course': 'DS/DA-GEN-AI',
    'Duration': '4-6Months',
    'Skills': ['python', 'ML', 'MLFLOW'],
    'address': 'Hyderabad'
}

# d['Skills'].remove("MLFLOW")
print(d)

{'Name': 'Medha', 'course': 'DS/DA-GEN-AI', 'Duration': '4-6Months', 'Skills': ['python', 'ML', 'MLFLOW'], 'address': 'Hyderabad'}

In [64]:
#Remove the entire data from the d

d.clear()
print(d)

{}

In [67]:
d2 = {
    "Other_coureses":["Deep_Learning", "Cyber_Security"]
}

d = {
    'Name': 'Medha',
    'course': 'DS/DA-GEN-AI',
    'Duration': '4-6Months',
    'Skills': ['python', 'ML', 'MLFLOW'],
    'address': 'Hyderabad'
}

# Add key value pair From d
d.update(d2)
print(d)

{'Name': 'Medha', 'course': 'DS/DA-GEN-AI', 'Duration': '4-6Months', 'Skills': ['python', 'ML', 'MLFLOW'], 'address': 'Hyderabad', 'Other_coureses': ['Deep_Learning', 'Cyber_Security']}

In [71]:
# Print only the keys from dictionary
print(d.keys())

# Print only the values
print(d.values())

# Print the key-value pairs
print(d.items())

dict_keys(['Name', 'course', 'Duration', 'Skills', 'address', 'Other_coureses'])
dict_values(['Medha', 'DS/DA-GEN-AI', '4-6Months', ['python', 'ML', 'MLFLOW'], 'Hyderabad', ['Deep_Learning', 'Cyber_Security']])
dict_items([('Name', 'Medha'), ('course', 'DS/DA-GEN-AI'), ('Duration', '4-6Months'), ('Skills', ['python', 'ML', 'MLFLOW']), ('address', 'Hyderabad'), ('Other_coureses', ['Deep_Learning', 'Cyber_Security'])])

***Renvision***

list --> [] --> ordered, mutable, and allows the duplicates
1. adding methods --> append, insert, extend
2. replace the items --> list[index]
3. remove methods --> pop, remove, clear, del


Tuple:- () --> ordered, immutable and allows duplicates
1. in tuple we cannot replace, add and remove the items bcz it is immutable


SET:- {}, set() --> unordered, immutable, doesn't allow duplicates

1. set is immutable we cannot replace the data but we can add and remove the items from set
2. adding methods of set --> add, update
3. remove methods --> remove, pop

Dictionary:- {key:value} --> unordered, mutable, and wont allow duplicate values

1. replace method of dictionary --> dict['existing_key_name']
2. add methods of dictionary --> dict['New_key_name'], update
3. remove methods of dictionary --> pop("key"), popitems(), clear()

In [83]:
d = {
    'Name': 'Medha',
    'course': 'DS/DA-GEN-AI',
    'Duration': '4-6Months',
    'Skills': ['python', 'ML', 'MLFLOW'],
    'address': 'Hyderabad'
}

if "Hyderabad" in d.values():
    print("Hyderabad is available")

Hyderabad is available

In [84]:
for i in d:
    print(i)

Name
course
Duration
Skills
address