<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#print 1 to 10 numbers using while loop
i = 1
while i <=10:
  print(i, end = " ")
  i = i +1

1 2 3 4 5 6 7 8 9 10

In [ ]:
# print 1 to 10 in reverse form

i = 10
while i <=1:
  print(i, end =" ")
  i = i-1

## Break Statement Condition:- its stops the iteration irrespective to the next ittration

In [ ]:
i = 1
while i <=10:
  if 1 == 5:
   break
  print(i)
  i = i + 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
l = [1,2,3,4,5,6,7,8,9]
for i in l :              #i is known as initializer
  print(i*2, end = " ")

2 4 6 8 10 12 14 16 18

**for loop:-** its runs a set of instruction over and each every elements in the collection of iterables.

In [ ]:
l = [21,22,24,45,38,28,27,21] # print the even numbers above the dataset
for j in l:
  if j%2 == 0:
    print(j, end = " ")

22 24 38 28

In [ ]:
# divisible by three
for i in l :
 if i%3 == 0:
  print(i)

21
24
45
27
21

In [ ]:
#range function
for i in range(10):
  print(i , end = " ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
# print the range of number 20 to 40
for i in range (20,41):
  print(i , end = " ")

20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40

In [ ]:
#print the range of even numbers from 20 40
for i in range(20,41,2):
  print(i, end = " ")

20 22 24 26 28 30 32 34 36 38 40

In [ ]:
#print even number in range of 1 t0 100
for i in range (1,101):
  if i%2==0:
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100




*   print "python" 5 times
*   #print all characters in the string "Hello world" in separate lines
*   print the sum of numbers from 1 to 10
*   find the factorial of a number: for ex: num = 5 --> 5*4*3*2*1
*   find the largest number in the list -- L = [10,21,34,56,22,15,16,24]

In [ ]:
A = "Python "*5
print(A ,end= "\n ")

Python Python Python Python Python

In [2]:
s = "Hello world"

for i in range(len(s)):
    print(s[i])

H
e
l
l
o

w
o
r
l
d

**What Are While Loops:** Runs a Set of Instruction Until the Condition Remains True.

In [10]:
# Write a simple program to run a lift using while loop
#if the user press the 6th floor stop the lift at sixth floor
user_input = int(input("Enter Which Floor You Want To Go"))
floor = 1
while floor <= user_input:
  print("youre at the floor", floor)
  floor = floor+1

Enter Which Floor You Want To Go12
youre at the floor 1
youre at the floor 2
youre at the floor 3
youre at the floor 4
youre at the floor 5
youre at the floor 6
youre at the floor 7
youre at the floor 8
youre at the floor 9
youre at the floor 10
youre at the floor 11
youre at the floor 12

In [12]:
# break the loop when it reaches to 5
i = 1
while i<=10:
  if i == 5:
    print(i)  # here is give 5 output coz it is inside the while loop
    break
  print(i) # only 4
  i = i+1

1
2
3
4
5

**Use of Loop's:-**  

*   For Iterating Each and every collection in element we use while loop
*   we Duplicate the codes in while loop
*   we run the set of instruction in a data set in for loop.

# Control Structure Of loop's

*   Break :- Stop the iteration's irrespective to the Next item in the collection
*   Continue:- Skip the current itteration and moved to the next
*   Pass:- is null place holder when executes nothing will happen's

In [19]:
l = [2,4,5,6,7,8,9]
#print the all numbers expect the 5-7-9
for i in l :
  if i == 2:
    continue
  if i == 4:
    continue
  if i == 6:
    continue
  if i == 8:
    continue
  print(i)

5
7
9

In [23]:
for i in l:
  if i == 2 or i ==4 or i ==6 or i == 8:
    continue
    # we cant stop loops at multiple data point because break statement stops the ittretion
    # can skip ittretion at multiple data points
  print(i)

5
7
9