<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Merge_Pivot.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Combining Or Mergining the DataFrame's***

In [49]:
import pandas as pd

d1 = pd.DataFrame({
    "key": ['a', 'b', 'c', 'c', 'd', 'e'],
    "num1": range(6)
})

d2 = pd.DataFrame({
    "key": ['b', 'c', 'e', 'f'],
    "num2": range(4)
})

print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [50]:
print(d1)
print(d2)

  key  num1
0   a     0
1   b     1
2   c     2
3   c     3
4   d     4
5   e     5
  key  num2
0   b     0
1   c     1
2   e     2
3   f     3

In [51]:
# Merge D1 And D2
pd.merge(d1,d2) #Inner Join Get the Common Data From the Both Tables

  key  num1  num2
0   b     1     0
1   c     2     1
2   c     3     1
3   e     5     2

In [52]:
#Get All The Information From The First Table And Matching Info From The Second Table. --Left Join
pd.merge(d1,d2,how="left")

  key  num1  num2
0   a     0   NaN
1   b     1   0.0
2   c     2   1.0
3   c     3   1.0
4   d     4   NaN
5   e     5   2.0

In [53]:
#Get All The Information From The First Second And Matching Info From The First Table. --Right Join
pd.merge(d1,d2,how="right")

  key  num1  num2
0   b   1.0     0
1   c   2.0     1
2   c   3.0     1
3   e   5.0     2
4   f   NaN     3

In [54]:
#Get All The Information From The Both Table.
pd.merge(d1,d2,how="outer")

  key  num1  num2
0   a   0.0   NaN
1   b   1.0   0.0
2   c   2.0   1.0
3   c   3.0   1.0
4   d   4.0   NaN
5   e   5.0   2.0
6   f   NaN   3.0

In [2]:
import pandas as pd

***PIVOTING***

*Piovot table in pandas is a tool to summmerize and analyze the data.*

In [3]:
data = [
    {"student": "Rixz", "subject": "Maths", "marks": 85, "sem": 1},
    {"student": "Rixz", "subject": "Physics", "marks": 78, "sem": 1},
    {"student": "Rixz", "subject": "Maths", "marks": 88, "sem": 2},
    {"student": "Rixz", "subject": "Physics", "marks": 82, "sem": 2},

    {"student": "Alex", "subject": "Maths", "marks": 90, "sem": 1},
    {"student": "Alex", "subject": "Physics", "marks": 86, "sem": 1},
    {"student": "Alex", "subject": "Maths", "marks": 92, "sem": 2},
    {"student": "Alex", "subject": "Physics", "marks": 89, "sem": 2},
]

In [4]:
#convert above data frame into df
df = pd.DataFrame(data)
df

  student  subject  marks  sem
0    Rixz    Maths     85    1
1    Rixz  Physics     78    1
2    Rixz    Maths     88    2
3    Rixz  Physics     82    2
4    Alex    Maths     90    1
5    Alex  Physics     86    1
6    Alex    Maths     92    2
7    Alex  Physics     89    2

In [ ]:
#syntax: pd.pivot_table(df,values=index=,columns=,aggfunc=)

In [10]:
pd.pivot_table(df,values="marks",index="student",columns="subject",aggfunc="min")
#

subject  Maths  Physics
student
Alex        90       86
Rixz        85       78

***Group By Function :-***

In [14]:
#Group by function is applicable with aggregate function.
#Print the minimum marks for the students
df.groupby("student")["marks"].min()

student
Alex    86
Rixz    78
Name: marks, dtype: int64

***Applying function Df***

In [24]:
#Appply a condition on the df those who recieve marks greater 75.
def eligibility(num):
  if num > 85:
    return "Eligible"
  else:
    return "Not Eligible"

#pd.apply()
df["marks"].apply(eligibility)

0    Not Eligible
1    Not Eligible
2        Eligible
3    Not Eligible
4        Eligible
5        Eligible
6        Eligible
7        Eligible
Name: marks, dtype: object

In [17]:
df['eligibility'] = df['marks'].apply(eligibility)

In [20]:
df

  student  subject  marks  sem   eligibility
0    Rixz    Maths     85    1  Not Eligible
1    Rixz  Physics     78    1  Not Eligible
2    Rixz    Maths     88    2      Eligible
3    Rixz  Physics     82    2  Not Eligible
4    Alex    Maths     90    1      Eligible
5    Alex  Physics     86    1      Eligible
6    Alex    Maths     92    2      Eligible
7    Alex  Physics     89    2      Eligible

***Date***

In [34]:
# how can we generate a date range by using the pandas.
#pd.date_range(start_date, periods, freq=D, min, H)

import pandas as pd

dates = pd.date_range(
    start="2004-02-13",
    end="2026-01-27",
    freq="D"
)

print(dates)
len(dates)

# Im 8037 Days Old By 13-2026
# 8020 Days Old By Today.

DatetimeIndex(['2004-02-13', '2004-02-14', '2004-02-15', '2004-02-16',
               '2004-02-17', '2004-02-18', '2004-02-19', '2004-02-20',
               '2004-02-21', '2004-02-22',
               ...
               '2026-01-18', '2026-01-19', '2026-01-20', '2026-01-21',
               '2026-01-22', '2026-01-23', '2026-01-24', '2026-01-25',
               '2026-01-26', '2026-01-27'],
              dtype='datetime64[ns]', length=8020, freq='D')

8020

In [30]:
rng = pd.date_range("01/01/2026", periods=30,freq="D")
rng

DatetimeIndex(['2026-01-01', '2026-01-02', '2026-01-03', '2026-01-04',
               '2026-01-05', '2026-01-06', '2026-01-07', '2026-01-08',
               '2026-01-09', '2026-01-10', '2026-01-11', '2026-01-12',
               '2026-01-13', '2026-01-14', '2026-01-15', '2026-01-16',
               '2026-01-17', '2026-01-18', '2026-01-19', '2026-01-20',
               '2026-01-21', '2026-01-22', '2026-01-23', '2026-01-24',
               '2026-01-25', '2026-01-26', '2026-01-27', '2026-01-28',
               '2026-01-29', '2026-01-30'],
              dtype='datetime64[ns]', freq='D')

***Pandas Command And There Use's :-***

In [ ]:
# =======================
#  DATAFRAME INFO
# =======================
# df.shape                      (rows, columns)
# df.size                       total number of elements

# =======================
#  COLUMN ACCESS
# =======================
# df['col_name']                access a single column
# df[['col1','col2','col3']]    access multiple columns

# =======================
#  DATA INSPECTION
# =======================
# df.duplicated().sum()         count duplicate rows
# df['col'].value_counts()     value frequency
# df.isnull().sum()             count null values

# =======================
#  INDEXING & SLICING
# =======================
# df.iloc[row_idx, col_idx]    integer-based indexing
# df.loc[start:end:step]       label-based indexing

# =======================
#  MISSING VALUE HANDLING
# =======================
# df.dropna(how='any/all',
#           axis=0/1,
#           inplace=True,
#           thresh=)            drop null values

# df.fillna(value/method,
#            limit,
#            inplace=True)      fill null values

# =======================
#  DATA OPERATIONS
# =======================
# df.merge(df1, df2,
#          how='left/right/outer')
#                                merge dataframes

# df['col'].apply(func)        apply function

# =======================
#  DATE UTILITIES
# =======================
# pd.date_range(start,
#               periods,
#               freq)            generate date range