<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Practice_All.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1Ô∏è‚É£ Numerical Data Types

In [1]:

"""Find The Data Type Of this Particular Variabl's"""
a = 10
b = 10.5
c = 10+4j
print(type(a))
print(type(b))
print(type(c))

"""Out For This"""
print(type(5/2))

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'float'>

# 2Ô∏è‚É£ Arithmetic Operations

In [2]:
"""Prodict the Output"""
print(10+2*5)
print((10 + 2) * 5)

""" What WIll This Print"""
print(17 // 3, 17 % 3)

20
60
5 2

# 4Ô∏è‚É£ Variables and Syntax

In [4]:
"""What Will be Output For this"""
xr = rx = 5
print(xr, rx)

5 5

# 5Ô∏è‚É£ input() and Data Type Conversion

In [3]:
"""Fix The Code"""
num = int(input("Enter Your Number"))
print(num+5)

"""What Is The Type"""
age = input("Enter age: ")
print(type(age))

Enter Your Number64
69
Enter age: 21
<class 'str'>

# 6Ô∏è‚É£ Strings and Indexing

In [5]:
"""What Is The OutPut For This"""
s = "Python"
print(s[0], s[-1])
"""Also For This"""
print(s[1:4])

P n
yth

# 7Ô∏è‚É£ Conditional Statements

In [6]:
"""What Will Be Printed"""
x = 15
if x > 10:
    print("A")
elif x > 20:
    print("B")
else:
    print("C")

"""Write a condition to check if a number is positive, negative, or zero."""
x = 0
if x > 0:
    print("Number is Positive")
elif x < 0:
    print("Number is Negative")
else:
    print("Number is Zero")

A
Number is Zero

# 8Ô∏è‚É£ Logical Operators

In [7]:
"""What Is OutPut For This"""
print(True and False or True)
print(True and True or True)
print(True and False or False)

"""What This Will Return"""
print(not (10 > 5 and 3 < 1))

True
True
False
True

# 9Ô∏è‚É£ Loops (for & while)

In [ ]:
"""What Is OutPut"""
for i in range(3):
    print(i)

"""How many times will this loop run?"""
i = 1
while i <= 5:
    i += 2
    print(i)

# üîü Control Structures (break, continue, pass)

In [8]:
"""What Is Output For This"""
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

# 1Ô∏è‚É£1Ô∏è‚É£ Collections / Iterables

In [9]:
"""Mutable Data Type"""

"""What Is Output For This"""
d = {"a": "Rixz", "b": "Candy"}
print(d["a"])

Rixz

# 1Ô∏è‚É£2Ô∏è‚É£ Functions (args & kwargs)

In [10]:
"""What Is Output For This"""
def add(*args):
    return sum(args)

print(add(1, 2, 3))

"""*args Definition"""
def add(*args):
    return sum(args)

print(add(1, 2, 3))  # 6

"""What Is Output For This"""
def info(**kwargs):
    print(kwargs)

info(name="Rixz", age=21)

6
6
{'name': 'Rixz', 'age': 21}

# 1Ô∏è‚É£3Ô∏è‚É£ List Comprehension, Lambda, Map, Filter

In [11]:
"""Convert this into list comprehension:"""
lst = []
for i in range(5):
    lst.append(i*i)
print(lst)

"""What Is Output For This"""
nums = [1, 2, 3, 4]
result = list(filter(lambda x: x % 2 == 0, nums))
print(result)

[0, 1, 4, 9, 16]
[2, 4]