<a href="https://colab.research.google.com/github/RixzFahad/Met-Data-Science-And-Analyst/blob/main/Week2_collections_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#List

In [3]:
#1. Write a Python program to sum all the items in a list

li =[22,44,66,88]
Sumli = sum(li)
print("the Sum of List:- ", Sumli)

the Sum of List:-  220

In [10]:
# 2. Write a Python program to multiply all the items in a list.

li1 = [1, 2, 3, 4, 5]

mult = 1
for num in li1:
    mult *= num

print("Multiply of the list:", mult)

Multiply of the list: 120

In [13]:
# 3. Write a Python program to get the largest number from a list.


l2 = [12,21,24,44,36,63,69,99]
largest = max(l2)
print("The largest number is :-",largest)

The largest number is :- 99

In [16]:
# 4. Write a Python program to get the smallest number from a list.
l3 = [12,21,24,44,36,63,69,99]
smallest = min(l3)
print("The Smallest Number is :-", smallest)

The Smallest Number is :- 12

#Tuple

In [17]:
# 1. Write a Python program to create a tuple.

t1 = (1,2,3,45,5)
print("Here Are The Tuple ITem:-", t1)

Here Are The Tuple ITem:- (1, 2, 3, 45, 5)

In [21]:
# 2. Write a Python program to create a tuple with different data types.

t2 = (69, "Rixz", 69.69, True)
print("Tuple With Multiple Data Type's Like :-\n integer's \n Float \n Boolean \n String\n", t2)

Tuple With Multiple Data Type's Like :-
 integer's
 Float
 Boolean
 String
 (69, 'Rixz', 69.69, True)

In [24]:
# 3 .Write a Python program to create a tuple of numbers and print one item.

t3 = ("Rixz", "Rexx", "Roxx", "Rixx")
t4 = (1,2,3,4,5,6,7,8,9,10)
print(t3[1],t4[1])

Rexx 2

In [25]:
# 4. Write a Python program to unpack a tuple into several variables.

t5 = ("Rixz", "Rexx", "Roxx", "Rixx")

x, y, z ,a =t5
print(x)
print(y)
print(z)
print(a)
print(t5)

Rixz
Rexx
Roxx
Rixx
('Rixz', 'Rexx', 'Roxx', 'Rixx')

In [26]:
# 5. Write a Python program to add an item to a tuple.
t6 = ["Rixz", "Rexx", "Roxx", "Rixx"]
t6.append("Roxxy")
print(t6)

['Rixz', 'Rexx', 'Roxx', 'Rixx', 'Roxxy']

In [29]:

# 6. Write a Python program to convert a tuple to a string.
t7 = ("Rixz", "Rexx", "Roxx", "Rixx")

t8 = " ".join(t7)

print(t8)

Rixz Rexx Roxx Rixx

In [30]:
# 7. Write a Python program to get the 4th element from the last element of a tuple.

t9 = ("konnichiwa", "ohayou", "gambatte", "baka")
print(t9[3])

baka

In [34]:
# 8. Write a Python program to create the colon of a tuple.


real = ("Rixz", "Rexx", "Roxx", "Rixx")

clone = real[::]
print(clone)

('Rixz', 'Rexx', 'Roxx', 'Rixx')

#set

In [35]:
# 1. Write a Python program to create a set.
st1 = {1,2,3,4,5}
print(type(st1))

<class 'set'>

In [44]:
# 2. Write a Python program to iterate over sets
st2 = {22,33,44,55,66}
for item in st2:
        print(item)

33
66
22
55
44

In [47]:
# 3. Write a Python program to add member(s) to a set.
st3 = { 1,23,24,25,26,27}
st3.add(45)
print(st3)

{1, 23, 24, 25, 26, 27, 45}

In [49]:
# 4. Write a Python program to remove item(s) from a given set.
st4 = {22,33,44,55,66,77,88}
st4.clear()
print(st4)

set()

In [50]:
# 5. Write a Python program to create an intersection of sets.
st5= {1, 2, 3, 4, 5}
st6 = {4, 5, 6, 7, 8}
result = st5 & st6
print(result)

{4, 5}

In [52]:
# 6. Write a Python program to find the maximum and minimum values in a set.

st7 = {22,33,44,55,66}
print(max(st7))
print(min(st7))

66
22